.about {
  text-align: center;
  background-color: aqua;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutContant {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.line {
  content: "";
  height: 10px;
  width: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHead{
  margin-top: -80px;
}